html,
body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: #a3c585;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

.hcontainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.title {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 20px;
    margin-right: 10px;
}

.eren {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: 'Courier Prime';
    margin-right: 10px;
}

.selin {
    font-size: 1.4rem;
    opacity: 0.8;
    margin-top: -2px;
    margin-bottom: 20px;
    font-family: 'Annie Use Your Telescope';
    margin-right: 10px;
}

.timer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.belowtext {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-top: 20px;
}

.unit {
    min-width: 90px;
}

.value {
    font-size: 3rem;
    font-weight: 700;
}

.label {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: 4px;
}